/* zerando as configurações */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Estilizando o parágrafo */
.produtos p{
    margin: 0;
    text-align: center;
    padding: 10px;
    color: cadetblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: darkblue;
    padding: 30px;
    background-color: lavender;
}

main#album {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

section.coluna {
    flex: 1 1 100%;
    padding: 0px 5px;
}

.produtos {
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 20px;
    /* transforma em container */
    display: flex;
    /* deixa o texto embaixo da imagem */
    flex-direction: column;
}

.produtos img {
    width: 100%;
    height: auto;
    padding-bottom: 10px;
}

footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    background-color: black;
    color: white;
    padding: 30px;
    text-align: center;
}
